%h1
  Frequently Asked Questions
%h2
  Answered by the monster.
#faq
  .question
    Why do I want to use TLM?
  .answer
    There are a lot of reasons. You  might get your tweets on SMS and not want to forget about links tweeted when you're away from the Internet. (Yes, there really are people who are regularly away from the Internet.)
    You might just not like to mix tweet-reading and link-visiting.
    Or you might just think I'm too cute not to use my service.
    All are rational reasons to use TLM.
  .question
    Why do you need my password?
  .answer
    Currently, the logistics of getting all of your tweets without having your password make it too complex and too taxing on our fairly minimal system resources. Twitter claims that they will soon support
    = link_to "OAuth", "http://oauth.net/"
    , which would allow you to tell Twitter that we can get your tweets without us having to give out your password. If you like this idea, go to the suggestion on 
    = link_to "Twitter's support page", "http://getsatisfaction.com/twitter/topics/implement_oauth_for_3rd_party_limited_access?utm_medium=widget&utm_source=widget_twitter"
    and vote for it. 
  .question
    How does it work?
  .answer
    I've been genetically engineered to eat all of your tweets, digesting the boring linkless ones and regurgitating the others into a convenient Atom feed. 
    Ok, if you want to know more about how it works and who wrote it, go to
    = link_to "our about page", url(:about)
    \.
  .question
    Are my Twitter account details safe?
  .answer
    Absolutely! They are encrypted in our database, and we promise never to decrypt them other than to fetch your tweets. For more info, see the 
    = link_to "privacy page", url(:privacy)
  .question
    How do you make money?
  .answer
    For now, I don't. I am enslaved, and my developer did this as a fun side project. We have an amazing sponsor 
    = sponsor_text
    that basically covers our expenses. 
    In the future, you may see premium features or something. 
  .question
    You're just trying to suck me in and then charge me in a couple of months, right?
  .answer
    Nope. There will always be a free version of TLM, even if there is also a paid upgrade.
  .question
    How often do you fetch new tweets?
  .answer
    I get hungry quickly, so I look for new tweets basically once an hour. It might not be quite exact because of variations in how fast I get through to you, but once an hour is pretty close. 
  .question
    Are you going to use up all of my API hits?
  .answer
    No. I love eating tweets, but I understand that you need tweets too. I stop 10 pages deep to ensure not to max you out. 
  .question
    Doesn't that mean you might miss ome of my tweets?
  .answer
    Theoretically. 10 pages is still 200 tweets. So unless you get over 200 tweets in an hour, you're fine. If you do, follow fewer people. That or give feedback and I'll figure something out. 
  .question
    How often do I need to log in?
  .answer
    Basically never. Once you sign up, you should just be able to subscribe to your feed from your favorite feed reader and never sign in again. That said ...

  .question
    What do I do if I change my Twitter username or password?
  .answer
    If you change your Twitter info (either username or password), you'll need to log in with your OLD Twitter info (what you told the site last) and update your info. 
  .question
  .answer
