- old = !exists.nil? && exists
- action = (old)?(resource(@user)):(resource(:users))
= form_for(@user, :action => action ) do
  %p
    = text_field :username, :label => "Twitter username: "
  %p
    =  password_field :password, :label => "Twitter password: ", :length => 31
  %p
    = text_field :email, :label => "Email: "
  -unless exists
    %p
      = check_box :name => :accept
      I accept the 
      = link_to "Terms of Service", url(:terms)
  %p
    = submit((old)?"Update":"Create")
