!!! XML
%feed{:xmlns => "http://www.w3.org/2005/Atom"}
  %title
    ="#{@user.username}'s Tweet Link Monster Feed"
  %link{:href => "/feed/#{@user.username}.xml", :rel => "self"}
  %link{:href => "/"}
  %updated
    =Time.now
  %author
    %name
      Daniel Jackoway
  %id
    http://www.tweetlinkmonster.com/

  -Tweet.all(:user_id => @user.id, :order => [:created_at.desc]).each do |tweet|
    %entry
      %title
        =tweet.title||"Title Not Found"
      %author
        %name
          =tweet.author
      %link{:href => httpified_link(tweet.website)}
      %id
        ="http://www.tweetlinkmonster.com/feed/#{@user.username}"
      %updated
        =tweet.created_at
      %content
        -if tweet.twitter_id
          = link_to "#{tweet.author_uname}:", "http://www.twitter.com/#{tweet.author_uname}/status/#{tweet.twitter_id}"
          -#= tweet.author_uname, tweet.twitter_id
        =tweet.text
    

