-#
  %h1
    Users controller, show action
  %p
    Edit this file in
    %tt
      app/views/users/show.html.erb

-#
  = link_to 'Edit',  url(:edit_user,  @user)
  |
  = link_to 'Back', url(:users)
%p
  Your feed: 
  -#=link_to feed, url(:feed, @user)
  -feed ="http://www.tweetlinkmonster.com/feed/#{@user.username}.atom" 
  =link_to feed, feed
%p
  = partial :form, :exists => true
%h2 Blacklist
%p
  Tired of all of the links your friends tweet from certain sites (blip.fm, brightkite.com, etc.)? Block them!
%p
  Any site matching the 
  = link_to "Regular Expressions", "http://en.wikipedia.org/wiki/regular_expression"
  you enter will be blocked. 
%p
  If you have no idea what that means just type something in the format "domain.ext" (ie. google.com). It is not advisable to precede it with "www." or "http://" in general. 
= form(:action => url(:update_bad_sites)) do
  #badsites
    - [3, @user.bad_sites.length].max.times do |time|
      %p
        -value = (@user.bad_sites.length<=time)?"":@user.bad_sites[time].pattern.to_good_s
        = text_field :name => "user[bad_sites][#{time}]", :label => "Blocked Site: ", :value => value
    = link_to "Add Another Filter Box", "javascript:addFilterBox()"
  %p
    = submit "Update Blacklist"
%script{:text => "text/javascript"}
  $(document).ready(function(){
  = "badsites = [3, @user.bad_sites.length].max;"
  }