!!! Transitional
-#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
%html{:xmlns => "http://www.w3.org/1999/xhtml", 'xml:lang'=>"en-us", :lang=>"en-us"}
  %head
    %title
      Tweet Link Monster
    %meta{'http-equiv'=>"content-type", :content => "text/html; :charset=>utf-8"}
    
    = css_include_tag "main"
    = js_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"
    <!--[if IE]>
    = css_include_tag "ie"
    <![endif]-->
  %body
    #container
      #banner
        = image_tag 'banner.png', :alt=>"Tweet Link Monster"
      #body

    
        #header
          .links
            = link_to "Home", url(:index)
            = signup_or_user_home
            #loginout
              = login_or_out_link
          
          
        -#.sidebar
          #right
          

            = sponsor_image
        
        #main
          %p
            - unless message.to_s.empty?
              #message
                = flash_parse h(message)
              
          = catch_content :for_layout
        #clearfooter
    #footer
      
      = link_to "FAQ", url(:index)
      = link_to "Privacy", url(:privacy)
      = link_to "About", url(:about)
      = link_to "Contact Us", url(:contact)
      = link_to "Blog", "http://tweetlinkmonster.wordpress.com/"
      #sponsor
        = sponsor_image
    
      
      
    <script src="http://tweetlinkmonster.uservoice.com/pages/general/widgets/tab.js?alignment=right&amp;color=006400" type="text/javascript"></script>
    = css_include_tag 'uvoice'